$primary-color: #7510f7;

.card {
  position: relative;
  width: 400px;
  height: 280px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  box-shadow: 0px 3px 10px 1px rgba(16, 14, 23, 0.8);
  text-align: center;
  @media (max-width: 770px) {
    width: 300px;
    height: 200px;
  }

  &:hover {
    .info {
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      @media (max-width: 770px) {
        transform: translateY(-16px);
      }
    }
    &:before {
      opacity: 1;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(16, 14, 23, 1);
    opacity: 0.7;
    z-index: 2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
  }
  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  .info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: 0.5s;
    transition: 0.5s;

    p {
      letter-spacing: 1px;
      font-size: 1rem;
    }
    a {
      padding: 0.2rem 1.5rem;
      outline: none;
      border: 1.5px solid $primary-color;
      border-radius: 25px;
      background: transparent;
      color: #fff;
      font-size: 0.9rem;
      cursor: pointer;
      -webkit-transition: 0.4s ease;
      transition: 0.4s ease;
      text-decoration: none;
      margin-top: 5px;

      &:hover {
        background: $primary-color;
        color: white;
      }
    }
  }
}
