$primary-color: #7510f7;

.about {
  padding: 5rem 1rem;
  background: $primary-color;

  &__content {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 6rem;
    @media (max-width: 768px) {
      max-width: 600px;
    }

    h1 {
      color: #fff;
      margin-bottom: 2rem;
      font-size: 2rem;
    }
    p {
      color: #fff;
      line-height: 30px;
      font-size: 1.3rem;
      margin-bottom: 2rem;
    }
  }

  &__skill {
    text-align: center;
    margin: 0 auto;
    margin-top: -8rem;
    max-width: 700px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #eee;
    line-height: 30px;
    box-shadow: 5px #fff;
    @media (max-width: 768px) {
      max-width: 600px;
    }
    @media (max-width: 760px) {
      display: block;
      max-width: 300px;
    }

    &__designer {
      width: 50%;
      padding: 2rem 2rem;
      @media (max-width: 760px) {
        width: 100%;
      }
      border-bottom: 1px solid #eee;

      h2 {
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        color: #100e17;
      }

      h4 {
        margin-bottom: 1rem;
        color: $primary-color;
        font-size: 1.1rem;
        @media (max-width: 900px) {
          font-size: 1.2rem;
        }
      }
      ul {
        list-style: none;

        li {
          margin-bottom: 0.5rem;
          font-size: 1.1rem;
        }
      }
    }

    &__developer {
      border-left: 1px solid #eee;
      width: 50%;
      padding: 2rem 1rem;
      @media (max-width: 760px) {
        width: 100%;
        border-left: none;
      }

      h2 {
        margin-bottom: 1.5rem;
      }
      p {
        margin-bottom: 2rem;
        color: #100e17;
        font-size: 1.2rem;
      }

      h4 {
        margin-bottom: 1rem;
        color: $primary-color;
        font-size: 1.1rem;
        @media (max-width: 900px) {
          font-size: 1.2rem;
        }
      }
      ul {
        list-style: none;

        li {
          margin-bottom: 0.5rem;
          font-size: 1.1rem;
        }
      }
    }
  }
}
