$primary-color: #7510f7;

.header {
  height: 100vh;
  padding: 0 1rem;
  text-align: center;

  .navbar {
    margin: 1rem auto;
    max-width: 1350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    &__button {
      font-size: 1.2rem;
      border: 2px solid $primary-color;
      padding: 5px 30px;
      border-radius: 30px;
      text-decoration: none;
      color: $primary-color;
      transition: background 0.2s ease-in;
      @media (max-width: 600px) {
        font-size: 1rem;
        padding: 4px 20px;
      }
      @media (max-width: 900px) {
        font-size: 1rem;
        padding: 2px 15px;
      }
      &:hover {
        color: #fff;
        background: $primary-color;
      }
    }

    &__profile {
      width: 5rem;
      border-radius: 100%;
      outline: none;
      @media (max-width: 550px) {
        width: 4rem;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 2rem;

    h1 {
      font-size: 3.5rem;
      font-weight: bold;
      padding: 2rem 0;
      color: #100e17;
      @media (max-width: 900px) {
        font-size: 2rem;
      }
    }
    p {
      font-size: 1.5rem;
      padding: 1rem 0;
      color: #100e17;
      @media (max-width: 900px) {
        font-size: 1.2rem;
      }
    }

    img {
      width: 20rem;
      margin: 2rem 0;
      color: #100e17;
      @media (max-width: 550px) {
        width: 15rem;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 2rem 1rem;
      li {
        margin-left: 2rem;
        a {
          text-decoration: none;
          color: #100e17;
          transition: all 0.5s ease-in;
          &:hover {
            color: $primary-color;
          }
          i {
            transition: all 0.3s ease-in;
            &:hover {
              color: $primary-color;
              transform: scale(1.3);
            }
          }
        }
      }
    }
  }

  &__png {
    width: 5rem;
  }
}
